@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply  scrollbar-thin scrollbar-thumb-gray-400 scrollbar-track-gray-200 scrollbar-thumb-rounded-full scrollbar-track-rounded-full scroll-mr-2;
}

#app {
  @apply text-xs;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #125CB1;

  font-weight: normal;
}
